* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --background: rgb(255, 255, 230);
    --color: rgb(0, 204, 255);
    --color-white: #fff;
}

body {
    background: var(--background);
    color: var(--color);
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.container > div {
    margin-top: 20px;
}

.headers {
    font-weight: 800;
}